{% extends 'base.html' %}

{% block title %}Crear Curso{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Crear / Editar Curso</h2>
    <div class="card shadow-sm p-4">
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label class="form-label">Nombre del Curso</label>
                <input type="text" name="nombre_curso" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Descripción</label>
                <textarea name="descripcion" class="form-control"></textarea>
            </div>
            <div class="mb-3">
                <label class="form-label">Duración (horas)</label>
                <input type="number" name="duracion" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Modalidad</label>
                <select name="modalidad" class="form-control">
                    <option value="online">Online</option>
                    <option value="presencial">Presencial</option>
                </select>
            </div>
            <button type="submit" class="btn btn-success">Guardar</button>
        </form>
    </div>
</div>
{% endblock %}
